<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
        integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
    <script src="jquery-2.1.4.js"></script>
    <title>{% block title %}{% endblock title %}</title>
    <style>
        

@import url('https://fonts.googleapis.com/css2?family=IM+Fell+English+SC&display=swap');


.ico{font-family: 'IM Fell English SC', serif;
}
   nav.navbar.fixed-nav-bar.navbar-expand-lg.navbar-dark.sticky {
    background: #1285ea;
}
   nav.navbar.fixed-nav-bar.navbar-expand-lg.navbar-dark {
    background: rgba(0, 0, 0, 0.5); 
}

    .fixed-nav-bar {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    width: 100%;
    }
    .cont{
    display:flex;
    flex-direction:row;
    align-items:center;
background: #e3f2fd;
    }
    .social ul li{
    display:inline-block;
    padding:5px;
    list-style-type:none;
    }
ul li a{
    font-size:18px;
}
.social ul{position: relative;
    top: 8px;}

    .social ul li a{
    color:black;

    }

    .copy{
    position:absolute;
    right:10px;
    }
footer{
    position: relative;
    width:100%;
    {% comment %} bottom:0; {% endcomment %}
}




    {% block css %} {% endblock %}






    </style>
</head>

<body>
    <div class="padd">
        <nav class="navbar fixed-nav-bar navbar-expand-lg navbar-dark">
            <!-- <a class="navbar-brand" href="/home"><span class="ico"><img src="../static/Khaao Piio.png" width="35px"
                        height="35px" alt=""></span></a> -->
            <a class="navbar-brand" href="/home"><span class="ico">Kasukabe Team</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="/home">Home <span class="sr-only">(current)</span></a>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="/services" id="navbarDropdown" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Cuisine
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="#Beverage">Beverage</a>
                            <a class="dropdown-item" href="#South Indian">South Indian</a>
                            <a class="dropdown-item" href="#Chinese">Chinese</a>
                            <a class="dropdown-item" href="#Non Veg">Non Veg</a>
                            <a class="dropdown-item" href="#North Indian">North Indian</a>

                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">And Much More....</a>
                        </div>
                    </li>
                    <!--                <li class="nav-item">-->
                    <!--                    <a class="nav-link" href="/order">My Orders(<span id="cart"> 0</span> )</a>-->
                    <!--                </li>-->

                    <li class="nav-item">
                        <a class="nav-link" href="/contact">Contact Us</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/about">About Us</a>
                    </li>

                </ul>
                <!--            <form class="form-inline my-2 my-lg-0">-->
                <!--                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">-->
                <!--                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>-->

                <!--            </form>-->

                {% comment %} {% if user.is_authenticated%} {% endcomment %}
                <a href="/order"><button type="button" class="btn btn-outline-light mx-2" id="popcart" data-container="body"
                        data-toggle="popover" data-placement="right" data-html="true" data-content="">My Orders(<span
                            id="cart">0</span> ) </button></a>
                <button class='btn btn-outline-light' onclick='clearCart()' id='clearCart'>Clear Orders</button>
                <a href="./"><button type="button" class="btn btn-outline-light mx-2">Logout</button></a>

                {% comment %} {%else%}
                <a href="/login"><button type="button" class="btn btn-success mx-2">Login/SignUp</button></a>
                {%endif%} {% endcomment %}
            </div>
        </nav>
    </div>

    {% comment %} {% if messages %}
    {% for message in messages %}
    <div class="alert alert-{{ message.tags }} alert-dismissible fade show my-0" role="alert">
        <strong>{{ message }}</strong>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    {% endfor %}
    {% endif %} {% endcomment %}


    {% block body %}{% endblock body %}
    <footer class="cont">
        <div class="social">
            <ul>
                <li><a href="https://www.instagram.com/yashrathor01/" target="_blank"><i
                            class="fab fa-instagram"></i></a></li>
                <li><a href="https://www.facebook.com/yash.rathor.3114/" target="_blank"><i
                            class="fab fa-facebook"></i></a></li>
                <li><a href="https://www.linkedin.com/in/yash-kumar-452821193/" target="_blank"><i
                            class="fab fa-linkedin"></i></a></li>
                <li><a href="https://twitter.com/YashRat22400202" target="_blank"><i class="fab fa-twitter"></i></a>
                </li>
            </ul>
        </div>
        <div class="copy">&copy; Copyright 2020-2021</div>
    </footer>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
        integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
        crossorigin="anonymous"></script>
<script>
window.addEventListener("scroll", function () {
  const nav = document.querySelector("nav");
  nav.classList.toggle("sticky", window.scrollY > 0);
});
</script>
    {% block js %}{% endblock js %}
</body>

</html>